.coll {
  width: 20px;
  text-align: center;
}

.col1 {
  width:165px;
  text-align: center;
}

.col2 {
  width:380px;
  text-align: center;
}

.col3 {
  width:225px;
  text-align: center;
}

.col4 {
  width: 20px;
  text-align: center;
}