.table {
  width: 750px;

}
.col {
  width: 20px;
}

.col1 {
  width:225px;
  text-align: center;
}

.col2 {
  width:105px;
  text-align: center;
}

.col3 {
  width:420px;
  text-align: center;
}
hdnerynyrjnermdy